.chat-members {
    min-height: 100px;
    max-height: 400px;
    background-color: white;
    overflow-y: auto;
}

.chat-member-chip {
    height: 60px;
    padding: 5px;
    background: var(#F5F7F8);
    border-bottom: 1px solid #ECF0F1;
}

.chat-member-name {
    font-size: 14px !important;
    font-weight: 700 !important;
}

.chat-member-company {
    font-size: 12px;
    color: #605C5C;
}

.editInputWrapper input {
    max-height: 8px;   
}